{% extends "base.html" %}

{% block title %}Calculator{% endblock %}

{% block content %}

<h1></h1>

<form class="areaSelection" method="POST">
  <select class="areaForm" name="areas" id="areas" role="menu">
    <option value="" disabled selected hidden>Vyber revír...</option>
    <option value='999'>Vše podle váhy...</option>
    <option value='777'>Vše podle kusů...</option>
    <option value='431001'>BEROUNKA 7</option>
    <option value='431002'>BEROUNKA 8</option>
    <option value='431003'>BEROUNKA 9</option>
    <option value='431004'>BEROUNKA 10</option>
    <option value='07431127'>BOHUNĚK 1</option>
    <option value='07431129'>BOHUNĚK 2</option>
    <option value='04231001'>BONĚTICKÝ RYBNÍK</option>
    <option value='431005'>BRADLAVA 1</option>
    <option value='431092'>BRADLAVA 1R</option>
    <option value='431006'>ČERNÝ POTOK 1</option>
    <option value='431093'>ČERNÝ POTOK 1R</option>
    <option value='431007'>ČERNÝ POTOK 2</option>
    <option value='04431126'>ČERNÝ RYBNÍK</option>
    <option value='431011'>CHODOVSKÝ POTOK 1</option>
    <option value='431012'>CHODOVSKÝ POTOK 2</option>
    <option value='431008'>DALOVICKÝ POTOK 2</option>
    <option value='04431124'>DRAHOTA</option>
    <option value='04431131'>GSTEINIGT</option>
    <option value='431009'>HAMERSKÝ POTOK 3</option>
    <option value='431010'>HOLOUBKOVSKÝ POTOK 2</option>
    <option value='431013'>KLABAVKA 1</option>
    <option value='431014'>KLABAVKA 2A</option>
    <option value='431015'>KLABAVKA 3</option>
    <option value='431095'>KLABAVKA 3R</option>
    <option value='431017'>KOSOVÝ POTOK 3</option>
    <option value='431018'>KOZÍ POTOK 1</option>
    <option value='431016'>KOČOVSKÝ POTOK 1 SEDLIŠŤSKÝ</option>
    <option value='431020'>KRALOVICKÝ POTOK 3</option>
    <option value='431096'>KRALOVICKÝ POTOK 3R</option>
    <option value='05431133'>LESÍK</option>
    <option value='07431128'>LIPÁK</option>
    <option value='04431135'>LOM PAVLOVICE</option>
    <option value='04431132'>MALESICE</option>
    <option value='431021'>MANĚTÍNSKÝ POTOK 1</option>
    <option value='431022'>MERKLÍNKA 1</option>
    <option value='431023'>MERKLÍNKA 2</option>
    <option value='431098'>MERKLÍNKA 2R</option>
    <option value='431024'>MLADOTICKÝ POTOK 1</option>
    <option value='431025'>MŽE 1</option>
    <option value='431026'>MŽE 2</option>
    <option value='431027'>MŽE 3</option>
    <option value='431028'>MŽE 4</option>
    <option value='431029'>MŽE 5 A</option>
    <option value='431030'>MŽE 7</option>
    <option value='431031'>MŽE 7 A</option>
    <option value='431086'>NEJDECKÉ NÁDRŽE 1</option>
    <option value='431120'>NÁDRŽ NA SOUTOKU</option>
    <option value='431200'>ODRAVA 1  ÚDOLNÍ NÁDRŽ JESENICE</option>
    <option value='231000'>ODRAVA 2</option>
    <option value='431032'>OHŘE 12</option>
    <option value='431033'>OHŘE 13</option>
    <option value='431034'>OHŘE 13 A</option>
    <option value='431035'>OHŘE 14</option>
    <option value='431036'>OHŘE 15</option>
    <option value='431099'>OHŘE 15R</option>
    <option value='431037'>OHŘE 16</option>
    <option value='431087'>OHŘE 16 A</option>
    <option value='431038'>OHŘE 17</option>
    <option value='431100'>OHŘE 17R</option>
    <option value='431039'>OHŘE 18</option>
    <option value='431101'>OHŘE 18R</option>
    <option value='431040'>OHŘE 19</option>
    <option value='431041'>OTAVA 5A</option>
    <option value='431143'>OTÍNSKÝ</option>
    <option value='431121'>POD HŘBITOVEM</option>
    <option value='04431128'>PICKROV</option>
    <option value='431042'>RADBUZA 1 A</option>
    <option value='431043'>RADBUZA 1 B</option>
    <option value='431044'>RADBUZA 1 C</option>
    <option value='431103'>RADBUZA 1 CR</option>
    <option value='431045'>RADBUZA 2</option>
    <option value='431104'>RADBUZA 2R</option>
    <option value='431046'>RADBUZA 3</option>
    <option value='431048'>RADBUZA 3 A</option>
    <option value='431106'>RADBUZA 3 AR</option>
    <option value='431105'>RADBUZA 3R</option>
    <option value='431047'>RADBUZA 4</option>
    <option value='431049'>RADBUZA 5</option>
    <option value='431107'>RADBUZA 5R</option>
    <option value='431050'>RADBUZA 6</option>
    <option value='431051'>RADBUZA 6 A</option>
    <option value='431108'>RADBUZA 6 AR</option>
    <option value='431052'>RADBUZA 7</option>
    <option value='431109'>RADBUZA 7R</option>
    <option value='431110'>RADNICKÝ POTOK 1R</option>
    <option value='481999'>RYBNÍK DOLEJŠÍ</option>
    <option value='04231003'>RYBNÍK LABUŤ</option>
    <option value='04231004'>RYBNÍK ZMRZLÍK</option>
    <option value='04231005'>RYBNÍK ČEPINEC</option>
    <option value='04431000'>SKOŘICKÝ RYBNÍK DOLNÍ</option>
    <option value='431054'>STARÝ POTOK 1</option>
    <option value='431111'>STARÝ POTOK 1R</option>
    <option value='431055'>STARÝ POTOK 2</option>
    <option value='431056'>STŘELA 2</option>
    <option value='431057'>STŘELA 4</option>
    <option value='431058'>STŘELA 6</option>
    <option value='05431125'>SUCHÝ</option>
    <option value='431059'>TEPLÁ 2</option>
    <option value='431060'>TEPLÁ 5</option>
    <option value='431061'>TOČNICKÝ POTOK 1</option>
    <option value='421503'>TRNAVA - ÚDOLNÍ NÁDRŽ TRNÁVKA</option>
    <option value='431062'>TŘEMOŠENKA 1</option>
    <option value='431114'>TŘEMOŠENKA 1R</option>
    <option value='431063'>TŘEMOŠENKA 2</option>
    <option value='04431123'>U MLATU</option>
    <option value='431079'>VERNÉŘOVSKÝ HALŠTROVSKÝ POTOK 1</option>
    <option value='441501'>VESLAŘSKÝ KANÁL RAČICE</option>
    <option value='481501'>VLTAVA - ÚDOLNÍ NÁDRŽ ORLÍK</option>
    <option value='431080'>ZBIROŽSKÝ POTOK 2</option>
    <option value='431081'>ZUBŘINA 1 A</option>
    <option value='431082'>ZUBŘINA 2 A</option>
    <option value='431117'>ZUBŘINA 2 AR</option>
    <option value='431064'>ÚHLAVA 1</option>
    <option value='431065'>ÚHLAVA 2</option>
    <option value='431066'>ÚHLAVA 3</option>
    <option value='431067'>ÚHLAVA 4</option>
    <option value='431068'>ÚHLAVA 5</option>
    <option value='431069'>ÚHLAVA 6</option>
    <option value='431070'>ÚHLAVKA 1</option>
    <option value='431071'>ÚSLAVA 1</option>
    <option value='431072'>ÚSLAVA 2</option>
    <option value='431073'>ÚSLAVA 2 A</option>
    <option value='431074'>ÚSLAVA 3</option>
    <option value='431075'>ÚSLAVA 3 A</option>
    <option value='431076'>ÚSLAVA 4</option>
    <option value='431077'>ÚSLAVA 5</option>
    <option value='431078'>ÚTERSKÝ POTOK 2</option>
  </select>
  <select class="fishForm" name="fish" id="fish" role="menu">
    <option value="" disabled selected hidden>Vyber druh ryby...</option>
    <option value="amur"wq class="dropdown-item">Amur</option>
    <option value="bolen" class="dropdown-item">Bolen</option>
    <option value="candát" class="dropdown-item">Candát</option>
    <option value="cejn" class="dropdown-item">Cejn</option>
    <option value="hlavatka" class="dropdown-item">Hlavatka</option>
    <option value="jelec jesen" class="dropdown-item">Jelec jesen</option>
    <option value="tloust" class="dropdown-item">Jelec tloušť</option>
    <option value="kapr" class="dropdown-item">Kapr</option>
    <option value="karas" class="dropdown-item">Karas</option>
    <option value="lipan" class="dropdown-item">Lipan</option>
    <option value="lín" class="dropdown-item">Lín</option>
    <option value="maréna peleď" class="dropdown-item">Maréna peleď</option>
    <option value="mník" class="dropdown-item">Mník</option>
    <option value="okoun" class="dropdown-item">Okoun</option>
    <option value="ostroretka" class="dropdown-item">Ostroretka</option>
    <option value="parma" class="dropdown-item">Parma</option>
    <option value="podoustev" class="dropdown-item">Podoustev</option>
    <option value="pstruh duhový" class="dropdown-item">Pstruh duhový</option>
    <option value="pstruh obecný" class="dropdown-item">Pstruh obecný</option>
    <option value="siven" class="dropdown-item">Siven</option>
    <option value="štika" class="dropdown-item">Štika</option>
    <option value="sumec" class="dropdown-item">Sumec</option>
    <option value="tolstolobik" class="dropdown-item">Tolstolobik</option>
    <option value="úhoř" class="dropdown-item">Úhoř</option>
   </select>
  <button type="submit" class="btn btn-success">Vyber</button>
</form>
<h1></h1>

{% endblock %}