{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<img src='static/small.png' class="center">

<h1></h1>

<p class="my-box">
        Základem této aplikace jsou veřejně dostupná data o úlovcích.
        Aplikace byla vytvořena jako amatérský projekt pro všechny rybáře,
        kteří se chtějí dozvědět další informace o oblíbeném revíru, nebo rybě.
</p>
<h1></h1>
<button type="submit" class="btn btn-success" onclick="window.location.href='/'">Kalkulačka</button>
<h1></h1>

{% endblock %}