{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}

<p class="my-box">
        Základem této aplikace jsou veřejně dostupná data o úlovcích.
        Aplikace byla vytvořena jako amatérský projekt pro všechny rybáře,
        kteří se chtějí dozvědět další informace o oblíbeném revíru, nebo rybě.
<p/>
<p class="my-box">
        Aplikace zatím funguje pro Západočeský kraj, na ostatních krajích i dalších funkcích pracuji :)
</p>
<h1></h1>
<button type="submit" class="btn btn-success" onclick="window.location.href='/'">Kalkulačka</button>
<h1></h1>

{% endblock %}