{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<body>
<h3>Ryba: </h3>
<p class="other-box">{{ inputed_fish }}</p>
<h3>Revíry s nejlepším úlovkem (podle {{ formul_1 }}):</h3>
{% for area in a_out %}
    <p class="green-box">{{ loop.index }}. {{ area }} - {{ w_out[loop.index - 1] }} {{ formul_2 }}</p>
{% endfor %}

<h3>Revíry s nejhorším úlovkem (podle {{ formul_1 }}):</h3>
{% for area in a_out_w %}
    <p class="red-box">{{ loop.index }}. {{ area }} - {{ w_out_w[loop.index - 1] }} {{ formul_2 }}</p>
{% endfor %}

<button type="submit" class="btn btn-success" onclick="window.location.href='/'">Zpět</button>
<h1></h1>
<div class="map-responsive">
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1eUHI7bLX2pJDlhbyhm6y_azccjeahz0&ehbc=2E312F" width="640" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</body>

{% endblock %}