{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<body>

<h3>Ryba: </h3>
<p class="other-box">{{ inputed_fish }}</p>
<h3>Revíry s nejlepším úlovkem (podle {{ formul_1 }}):</h3>
{% for area in a_out %}
    <p class="green-box">{{ loop.index }}. {{ area }} - {{ w_out[loop.index - 1] }} {{ formul_2 }}</p>
{% endfor %}

<h3>Revíry s nejhorším úlovkem (podle {{ formul_1 }}):</h3>
{% for area in a_out_w %}
    <p class="red-box">{{ loop.index }}. {{ area }} - {{ w_out_w[loop.index - 1] }} {{ formul_2 }}</p>
{% endfor %}

<button type="submit" class="btn btn-success" onclick="window.location.href='/'">Zpět</button>
</body>

{% endblock %}